<div id="portfolio-page" class="portfolio"
  style="transform: translateY(-100%)"
  [@slideDown]="openClose ? 'open' : 'close'">
  
  <div class="float-container">
    <div class="float-child">
      <div id="about-text" data-testid="richTextElement"><h2 class="font_2" style="line-height:2em;font-size:16px"><span>Portfolio</span></h2>
        <p class="font_8" style="line-height:1.5em;font-size:14px"><span>Based in Denver, CO</span></p>
        <p class="font_8" style="line-height:1.5em;font-size:14px">&nbsp;</p>
        <p class="font_8" style="line-height:1.5em;font-size:14px"><span>I'm a driven Software Engineer with a passion for creating well-designed, user friendly software that customers love using. I'm very personable and a hard working team player; I work best when I know my co-workers are in sync.&nbsp;</span></p>
        <p class="font_8" style="line-height:1.5em;font-size:14px"><span class="whitespace">​</span></p>
        <p class="font_8" style="line-height:1.5em;font-size:14px"><span>I'm experienced on both Mac and PC systems, and I code in C#, C++, Python, and Angular. Currently, I'm learning React.js&nbsp;and Flutter/Dart to allow me to make even better designed and more performant UI.&nbsp;</span></p>
        <p class="font_8" style="line-height:1.5em;font-size:14px"><span class="whitespace">​</span></p>
        <p class="font_8" style="line-height:1.5em;font-size:14px"><span>I love motorcycle riding, traveling, and eating delicious food in my free time.</span></p>
      </div>
    </div>

    <div class="float-child">
      <button type="button" (click)="loadResumePage()">Resume</button>
    </div>

  </div>

</div>
