.contact {
    display: flex;
    flex-direction: column;
}

.float-child {
    width: 100%;
    float: left;
    padding: 20px;
    padding-top: 0px;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}












._3e89g {
    width: 462px;
}

[data-mesh-id=i0qkrbfiinlineContent] {
    height: auto;
    width: 462px;
}

[data-mesh-id=i0qkrbfiinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

.Zaay4 {
    --rd: 0px;
    --shd: 0 0 0 rgba(0, 0, 0, 0);
    --bg: 255,255,255;
    --brd: 227,227,227;
    --alpha-brd: 1;
    --brw: 0px;
    --alpha-bg: 0;
    width: 462px;
}

[data-mesh-id=comp-kehn91eyinlineContent] {
    height: auto;
    width: 462px;
}

[data-mesh-id=comp-kehn91eyinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 100%;
}

#comp-kehn91fv {
    --shd: none;
    --rd: 0px;
    --fnt: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --brw: 1px;
    --bg: var(--color_11);
    --txt: var(--color_15);
    --alpha-txt: 1;
    --brd: var(--color_15);
    --txt2: var(--color_15);
    --alpha-txt2: 1;
    --brwh: 1px;
    --bgh: var(--color_11);
    --brdh: var(--color_15);
    --brwf: 1px;
    --bgf: var(--color_11);
    --brdf: var(--color_15);
    --brwe: 1px;
    --bge: var(--color_11);
    --brde: 139,0,0;
    --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
    --bgd: 255,255,255;
    --alpha-bgd: 1;
    --txtd: 219,219,219;
    --alpha-txtd: 1;
    --brwd: 1px;
    --brdd: var(--color_15);
    --fntlbl: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --txtlbl: var(--color_15);
    --alpha-txtlbl: 1;
    --txtlblrq: var(--color_15);
    --alpha-txtlblrq: 1;
    --alpha-brd: 1;
    --alpha-brdf: 1;
    --alpha-brdh: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-bg: 1;
    --alpha-brdd: 1;
    --alpha-brde: 1;
    --alpha-bge: 1;
    --alpha-bgh: 1;
    --alpha-bgf: 1;
    width: 462px;
    height: auto;
    --dir: ltr;
    --textAlign: left;
    --textPadding: 3px 3px 3px 5px;
    --labelMarginBottom: 5px;
    --inputHeight: 31px;
    --labelPadding: 0 20px 0 0px;
    --requiredIndicationDisplay: inline;
}

#comp-kehn91g5 {
    --shd: none;
    --rd: 0px;
    --fnt: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --brw: 1px;
    --bg: var(--color_11);
    --txt: var(--color_15);
    --alpha-txt: 1;
    --brd: var(--color_15);
    --txt2: var(--color_15);
    --alpha-txt2: 1;
    --brwh: 1px;
    --bgh: var(--color_11);
    --brdh: var(--color_15);
    --brwf: 1px;
    --bgf: var(--color_11);
    --brdf: var(--color_15);
    --brwe: 1px;
    --bge: var(--color_11);
    --brde: 139,0,0;
    --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
    --bgd: 255,255,255;
    --alpha-bgd: 1;
    --txtd: 219,219,219;
    --alpha-txtd: 1;
    --brwd: 1px;
    --brdd: var(--color_15);
    --fntlbl: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --txtlbl: var(--color_15);
    --alpha-txtlbl: 1;
    --txtlblrq: var(--color_15);
    --alpha-txtlblrq: 1;
    --alpha-brd: 1;
    --alpha-brdf: 1;
    --alpha-brdh: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-bg: 1;
    --alpha-brdd: 1;
    --alpha-brde: 1;
    --alpha-bge: 1;
    --alpha-bgh: 1;
    --alpha-bgf: 1;
    width: 462px;
    height: auto;
    --dir: ltr;
    --textAlign: left;
    --textPadding: 3px 3px 3px 5px;
    --labelMarginBottom: 5px;
    --inputHeight: 31px;
    --labelPadding: 0 20px 0 0px;
    --requiredIndicationDisplay: inline;
}

#comp-kehn91ga {
    --shd: none;
    --rd: 0px;
    --fnt: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --brw: 1px;
    --bg: var(--color_11);
    --txt: var(--color_15);
    --alpha-txt: 1;
    --brd: var(--color_15);
    --txt2: var(--color_15);
    --alpha-txt2: 1;
    --brwh: 1px;
    --bgh: var(--color_11);
    --brdh: var(--color_15);
    --bgd: 255,255,255;
    --txtd: 219,219,219;
    --alpha-txtd: 1;
    --brwd: 1px;
    --brdd: var(--color_15);
    --brwf: 1px;
    --bgf: var(--color_11);
    --brdf: var(--color_15);
    --brwe: 1px;
    --bge: var(--color_11);
    --brde: 139,0,0;
    --fntlbl: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --txtlbl: var(--color_15);
    --alpha-txtlbl: 1;
    --txtlblrq: var(--color_15);
    --alpha-txtlblrq: 1;
    --alpha-bg: 1;
    --alpha-bgd: 1;
    --alpha-bge: 1;
    --alpha-bgf: 1;
    --alpha-bgh: 1;
    --alpha-brd: 1;
    --alpha-brde: 1;
    --alpha-brdf: 1;
    --alpha-brdh: 1;
    --bg2: 170,170,170;
    --alpha-bg2: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-brdd: 1;
    width: 462px;
    height: auto;
    --dir: ltr;
    --textAlign: left;
    --textPadding: 3px 10px 3px 5px;
    --labelMarginBottom: 5px;
    --inputHeight: 130px;
    --labelPadding: 0 20px 0 0px;
    --requiredIndicationDisplay: inline;
}

#comp-kehn91gh1 {
    --rd: 0px;
    --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --shd: none;
    --fnt: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --trans2: color 0.4s ease 0s;
    --txt: var(--color_11);
    --brw: 0px;
    --bg: 0,0,0;
    --brd: var(--color_15);
    --bgh: 0,0,0;
    --brdh: var(--color_11);
    --txth: var(--color_11);
    --bgd: 204,204,204;
    --alpha-bgd: 1;
    --brdd: 204,204,204;
    --alpha-brdd: 1;
    --txtd: 255,255,255;
    --alpha-txtd: 1;
    --alpha-bg: 1;
    --alpha-bgh: 1;
    --alpha-brd: 1;
    --alpha-brdh: 0;
    --alpha-txt: 1;
    --alpha-txth: 1;
    --boxShadowToggleOn-shd: none;
    width: 44px;
    height: 29px;
    --shc-mutated-brightness: 0,0,0;
    --label-align: center;
    --label-text-align: center;
}

#comp-kehn91go {
    --f0: var(--font_0);
    --f1: var(--font_1);
    --f10: var(--font_10);
    --f2: var(--font_2);
    --f3: var(--font_3);
    --f4: var(--font_4);
    --f5: var(--font_5);
    --f6: var(--font_6);
    --f7: var(--font_7);
    --f8: var(--font_8);
    --f9: var(--font_9);
    width: 190px;
    height: auto;
}
