<div id="resume-page" class="resume"
  style="transform: translateY(-100%)"
  [@slideDown]="openClose ? 'open' : 'close'">
        <div class="float-container">
          <div class="float-child">
            <a href='assets/Jayce Meyer Resume (Oct 2023).jpg' target="assets/Jayce Meyer Resume (Oct 2023).jpg">
              <img style="height: 1100px; width: 800px; object-fit: cover;" src="assets/Jayce Meyer Resume (Oct 2023).jpg" alt="pic.jpg">
            </a>
          </div>
        </div>
</div>