<div id="about-page" class="about"
  style="transform: translateY(-100%)"
  [@slideDown]="openClose ? 'open' : 'close'">
    <!-- Resources -->
    <div class="float-container">
      <div class="float-child">
        <img style="height: 150px; width: 150px; object-fit: cover;" src="../../assets/images/head-shot.jpg" alt="pic.jpg">
      </div>
      
      <div class="float-child">
        <div class="card-container">
          <a href='#' (click)="loadResumePage()"><div class="button">Resume</div><div class="arrow-right"></div></a>
        </div>
      </div>
    </div>
    
    <div class="float-container">
      
      <div class="float-child">
        <div id="about-text" data-testid="richTextElement"><h2 class="font_2" style="line-height:2em;font-size:16px"><span>Here's a little info about me:</span></h2>
          <p class="font_8" style="line-height:1.5em;font-size:14px"><span>Based in Denver, CO</span></p>
          <p class="font_8" style="line-height:1.5em;font-size:14px">&nbsp;</p>
          <p class="font_8" style="line-height:1.5em;font-size:14px"><span>I'm a driven, detail oriented full-stack Software Engineer with a passion for creating well-designed, user friendly software that customers genuinely love. I enjoy learning new things and I'm not afraid to try something I've never done before. I'm a very personable, engaging, and hard working team player. I work best when I know my team is in sync and when I feel confident in my understanding of the platform.&nbsp;</span></p>
          <p class="font_8" style="line-height:1.5em;font-size:14px"><span class="whitespace">​</span></p>
          <p class="font_8" style="line-height:1.5em;font-size:14px"><span>I'm experienced on Windows, Mac, and Linux systems, and I code in C# .NET, EF Core, Angular, React, and occasionally Python. I'm most knowledgeable in SQL on the backend, but have also worked with Postgres and Rocket DB. Currently, I'm learning about coding front-end maps with MapLibre, and Amazon Web Services to allow me to make even more robust, reliable, and performant API micro-services.&nbsp;</span></p>
          <p class="font_8" style="line-height:1.5em;font-size:14px"><span class="whitespace">​</span></p>
          <p class="font_8" style="line-height:1.5em;font-size:14px"><span>In my free time I love being home with my family (and being a dad), working on house projects, spending time in the Colorado outdoors (motorcycle riding, hiking, backpacking, mountain biking, playing with our dog), and eating delicious food.</span></p>
        </div>
      </div>
    
      <div class="float-child">  
        <div id="cv-text" data-testid="richTextElement"><h2 class="font_2" style="font-size:16px">CV</h2>
          <p class="font_7" style="line-height:2em;font-size:16px"><span style="text-decoration:underline;">Experience</span></p>
          <p class="font_7" style="line-height:1em;font-size:16px"><span>2021 - Present&nbsp;:&nbsp;<span style="font-style:italic;">Cherokee Federal - National Park Service</span></span></p>
          <p class="font_7" style="font-size:16px"><span>Senior System & Software Engineer - Team Lead</span></p>
          <p class="font_7" style="font-size:16px"><span><span class="whitespace">​</span></span></p>
          <p class="font_7" style="line-height:1em;font-size:16px"><span>2018 - 2021&nbsp;:&nbsp;<span style="font-style:italic;">Vertafore, Inc.</span></span></p>
          <p class="font_7" style="font-size:16px"><span>Software Engineer</span></p>
          <p class="font_7" style="font-size:16px"><span><span class="whitespace">​</span></span></p>
          <p class="font_7" style="font-size:16px">2016&nbsp;- Present :&nbsp;<span style="font-style:italic;">The Buff Restaurant</span></p>
          <p class="font_7" style="font-size:16px">Payroll Specialist</p>
          <p class="font_7" style="font-size:16px"><span><span class="whitespace">​</span></span></p>
          <p class="font_7" style="font-size:16px">May '16 - July '16 :&nbsp;<span style="font-style: italic;">agent24, Inc.</span></p>
          <p class="font_7" style="font-size:16px">Software &amp; Network Internship</p>
          <p class="font_7" style="font-size:16px"><span class="whitespace">​</span></p>
          <p class="font_7" style="font-size:16px">2010&nbsp;- 2018 :&nbsp;<span style="font-style:italic;">The Buff Restaurant</span></p>
          <p class="font_7" style="font-size:16px">Manager &amp; Barista</p>
          <h2 class="font_2" style="font-size:16px"><span class="whitespace">​</span></h2>
          <p class="font_7" style="font-size:16px"><span style="text-decoration:underline;">Education</span></p>
          <p class="font_8" style="font-size:14px">2012 - 2017 <span style="font-style:italic;">University of Colorado at Boulder</span></p>
          <p class="font_8" style="font-size:14px">Bachelor of Arts in Computer Science - Dean's List</p>
        </div>
      </div>

    </div>
    
</div>