<div id="portfolio-page" class="portfolio"
  style="transform: translateY(-100%)"
  [@slideDown]="openClose ? 'open' : 'close'">
  
  <div class="float-container">
    <div class="float-child">
      <div id="about-text" data-testid="richTextElement">
        <h2 class="font_2" style="line-height:2em;font-size:16px"><span>Portfolio \& Projects</span></h2>
        <p class="font_8" style="line-height:1.5em;font-size:14px"><span>
          Take a look at some of my fun side projects on <a href="https://github.com/JayceNat" target="_blank" style="color: rgb(210, 60, 15);">Github</a>.
        </span></p>
        <p><span>Note: This website is written with Angular.</span></p>
        <p><span class="whitespace">​</span></p>
      </div>
    </div>
    <div class="float-child">
      <div class="button-container">
        <a href='#' (click)="loadResumePage()"><div class="button">View Resume</div><div class="arrow-right"></div></a>
      </div>
    </div>
  </div>

  <div class="float-container">
    <div class="float-child">
      <div id="about-text" data-testid="richTextElement">
        <p class="font_8" style="line-height:1.5em;font-size:16px;font-style: italic;"><span>
          The Yu-Gi-Oh! Duel Calculator:&nbsp;
          </span></p>
          <p class="font_8" style="line-height:1.5em;font-size:16px;"><span>
            A fun way to battle your friends (and your enemies) with your most powerful playing card deck.
            (Written in React.js)&nbsp;
        </span></p>
        <p><span class="whitespace">​</span></p>
      </div>
    </div>

    <div class="float-child">
      <div class="card-container">
        <a href="https://jaycenat.github.io/React-Duel-Calculator/" target="_blank"><div class="arrow-left"></div>
          <div class="button-tile button-tile-duel-calc">
            <img style="height: 100%;" src="../../assets/images/Duel_Calculator.png" alt="duel-calc.png">
          </div></a>
      </div>
    </div>
  </div>

  <p><span class="whitespace">​</span></p>

  <div class="float-container">
    <div class="float-child">
      <div id="about-text" data-testid="richTextElement">
        <p class="font_8" style="line-height:1.5em;font-size:16px;font-style: italic;"><span>
          The Candy Gallery:&nbsp;
          </span></p>
          <p class="font_8" style="line-height:1.5em;font-size:16px;"><span>
            A fun way to view your photos by picking a random image from a selected Picture folder hierarchy.
            (Written in C# - Windows Forms)&nbsp;
        </span></p>
        <p><span class="whitespace">​</span></p>
      </div>
    </div>

    <div class="float-child">
      <div class="card-container">
        <a href="https://github.com/JayceNat/Candy-Gallery" target="_blank"><div class="arrow-left"></div>
          <div class="button-tile button-tile-candy-gal">
            <img style="width: 100%;" src="../../assets/images/Candy_Gallery.png" alt="candy-gal.png">
          </div></a>
      </div>
    </div>
  </div>

  <p><span class="whitespace">​</span></p>

  <div class="float-container">
    <div class="float-child">
      <div id="about-text" data-testid="richTextElement">
        <p class="font_8" style="line-height:1.5em;font-size:16px;font-style: italic;"><span>
          The Joke & Excuse Generator:&nbsp;
          </span></p>
          <p class="font_8" style="line-height:1.5em;font-size:16px;"><span>
            When you just need a little pick me up, this little app will lift your spirits. Need to
            work from home, but just don't know the best way to break it to the team? Enter
            the Joke & Excuse Generator. (Written in C# - Windows Forms)&nbsp;
        </span></p>
      </div>
    </div>

    <div class="float-child">
      <div class="card-container">
        <a href="https://github.com/JayceNat/Joke-Excuse-Generator-EXE" target="_blank"><div class="arrow-left"></div>
          <div class="button-tile button-tile-joke-gen">
            <img style="width: 100%;" src="../../assets/images/Joke_Generator.png" alt="joke-gen.png">
          </div></a>
      </div>
    </div>
  </div>

</div>
