.portfolio {
    display: flex;
    flex-direction: column;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    padding-top: 0px;
    min-width: 175px;
}

.button {
    float: left;
    height: 30px;
    background: black;
    width: 12vw;
    text-align: center;
    color: white;
    max-width: 200px;
    min-width: 100px;
    line-height: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.arrow-right {
    width:0; 
    height:0; 
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left:15px solid black; 
    float:right;
}

.button:hover {
    font-weight:bold;
    background-color: rgb(210, 60, 15);
    border-color: rgb(210, 60, 15);
}

.button:hover + .arrow-right {
    border-left:15px solid rgb(210, 60, 15) !important;
}

.button-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

.arrow-left {
    width:0; 
    height:0; 
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-right:20px solid black; 
    float:left;
}

.button-tile-duel-calc {
    height: 19vw;
    max-height: 250px;
    max-width: 350px;
}

.button-tile-candy-gal {
    height: 13.2vw;
    width: 22vw;
    max-height: 211px;
    max-width: 350px;
}

.button-tile-joke-gen {
    height: 15.2vw;
    width: 22vw;
    max-height: 190px;
    max-width: 270px;
}

.button-tile {
    float: right;
    box-shadow: black 6px 6px 6px;
}​

img {
    object-fit: contain;
}

.button-tile:hover {
    box-shadow: rgb(210, 60, 15) 6px 6px 6px;
    background-color: rgb(210, 60, 15);
    border-color: rgb(210, 60, 15);
}

.card-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

.card-container:hover .arrow-left {
    border-right:20px solid rgb(210, 60, 15) !important;
}

.card-container:hover .button-tile {
    box-shadow: rgb(210, 60, 15) 6px 6px 6px;
    background-color: rgb(210, 60, 15);
    border-color: rgb(210, 60, 15);
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

h1, h2, h3, h4, h5, h6, header {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}