p {
    margin: 0;
}

.toolbar {
    height: 135px;
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    color: black;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.circle-card-container {
    display: flex;
    width: 100%;
    white-space: nowrap;
    margin-left: 8%;
    padding-left: 10px;
}

.circle-card {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    margin: 9px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 97px;
    width: 97px;
    border-radius: 97px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .25s ease-out;
}

.circle-card-letter {
    padding: 33px;
}

.circle-card:hover {
    transform: translateY(-0.20rem);
    background-color: rgb(210, 60, 15);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.toolbar-title {
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
    margin-top: 65px;
}

.content-container {
    display: flex;
    margin: 32px auto;
    width: 100%;
    margin-left: 8%;
    /* padding: 0 62px; */
    max-width: 1080px;
    flex-direction: row;
    align-items: center;
}

.side-nav-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    order: -1;
    padding-left: 25px;
    padding-right: 25px;
}

.side-nav-item,
.selected-side-nav-item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: silver;

    position: relative;
    text-decoration: none;
}

.selected-side-nav-item {
    color: dimgray;
}

.side-nav-item:hover {
    color: rgb(210, 60, 15);
}

.side-nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.side-nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.content-detail {
    float: left;
    margin-left: 20px;
    flex-direction: column;
    align-self: flex-start;
    order: 1;
    z-index: -1;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}